@media screen and (min-width: 800px) {
	/* ===== mockups ===== */
	.mockup-mobile {
		display: none;
	}

	.mockup-desktop {
		display: block;
	}

	/* ========== HEADER ========== */
	/* ===== navbar ===== */
	nav {
		padding: 3.5rem 5rem 1rem 4rem;
		height: 10rem;
	}

	.logo-icon {
		width: 17rem;
	}

	.menu {
		display: flex;
		position: static;
	}

	.triangle {
		display: none;
	}

	.links {
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: transparent;
	}

	.links ul {
		display: flex;
		flex-direction: row;
		gap: 5.2rem;
		list-style: none;
	}

	.links a {
		font-size: 1.7rem;
		text-decoration: none;
		color: var(--White);
	}

	.links a:hover {
		text-decoration: underline;
	}

	.show-links {
		display: none;
	}

	.btn {
		font-family: var(--ff-secondary);
		font-size: 1.5rem;
		font-weight: 700;
		text-transform: uppercase;
		padding: 1.8rem 3rem;
		background-color: var(--White);
		border-radius: 3rem;
		margin-left: 5rem;
		margin-top: 0;
		cursor: pointer;
		color: var(--Very-dark-desaturated-blue);
	}

	.btn:hover {
		background-color: rgba(255, 255, 255, 0.3);
		color: var(--White);
	}

	.hamburguer {
		display: none;
	}

	/* ===== header title ===== */
	.img-header-mobile {
		display: none;
	}

	.img-header-desktop {
		display: block;
	}

	.header-title {
		top: 24%;
	}

	h1 {
		font-size: 6rem;
	}

	.header-title img {
		margin-top: 9rem;
	}

	/* ========== SECCION 1 ========== */
	.primera-img-mobile {
		display: none;
	}

	.primera-img-desktop {
		display: block;
	}

	.primera {
		/* outline: 1px solid; */
		display: flex;
		flex-direction: row-reverse;
	}

	.primera-texto {
		/* outline: 1px solid; */
		padding: 6rem 10rem;
	}

	.primera-texto h2 {
		/* outline: 1px solid; */
		line-height: 5rem;
		font-size: 4.2rem;
		text-align: left;
		padding: 4rem 6rem 2rem 6.2rem;
	}

	.primera-texto p {
		/* outline: 1px solid; */
		padding: 1.5rem 2rem 2rem 6.7rem;
		margin-top: 0;
		text-align: left;
	}

	.primera-btn {
		/* outline: 1px solid; */
		align-self: flex-start;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 2rem 5rem 4rem 5rem;
	}

	.primera-texto h3 {
		margin-top: 0px;
	}

	/* ========== Seccion 2 ========== */
	.segunda-img-desktop {
		display: block;
	}

	.segunda-img-mobile {
		display: none;
	}

	.segunda {
		display: flex;
	}

	.segunda-texto {
		/* outline: 1px solid; */
		padding: 6rem 10rem;
	}

	.segunda-texto h2 {
		/* outline: 1px solid; */
		font-size: 4.2rem;
		text-align: left;
		padding: 2rem 1rem 2rem 1rem;
	}

	.segunda-texto p {
		/* outline: 1px solid; */
		margin-top: 0rem;
		padding: 1rem 7rem 2.5rem 1rem;
		text-align: left;
	}

	.segunda-btn {
		align-self: flex-start;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 2rem 1.8rem 3rem 1.8rem;
	}

	.segunda-texto a {
		/* outline: 1px solid; */
		align-self: flex-start;
		margin-top: 0rem;
		font-size: 1.7rem;
		font-family: var(--ff-secondary);
		font-weight: 900;
		text-transform: uppercase;
		text-decoration: none;
		color: var(--Very-dark-desaturated-blue);
	}

	.segunda-line-decoration {
		align-self: flex-start;
		width: 56%;
	}
}
